#chapLogoDiv {
    height: 5rem;
    width: 40%;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#chapLogoCSImg {
    height: 10rem;
    width: 18rem;
}
#chapLogoWIEImg {
    height: 9rem;
    width: 10rem;
}

#chapHead {
    color: #404040;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.25rem;
    text-align: center;
}

#cs {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top:  6rem;
}
#introCSHead {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
#introCSHead img {
    height: 4rem;
    width: 6.5rem;
}
#introCSHead p {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 1.5rem;
    color: #404040;
    font-weight: 700;
}
#introCSCont {
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
#introCSCont p {
    margin-top: 0.75rem;
    text-align: justify;
    font-size: 1.25rem;
    font-family: "Fira Sans", sans-serif;
}
#CSBenefits {
    width: 50%;
    margin-top: 1.25rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}
#CSBenefits p {
    font-size: 1.25rem;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
}
#CSBenefits ul li {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
}
#CSAim p {
    font-size: 1.25rem;
    font-family: "Hind Siliguri",sans-serif;
    font-weight: 700;

}
#CSAim ul li {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    text-align: justify
}

#csGroupImg {
    margin-top: 1rem;
    width: 50vw;
}

#csCrowdImg {
    margin-top: 1rem;
    width: 30vw;
    height: 18vw;
}

#wie {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top:  2rem;
}
#introWIEHead {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
#introWIEHead img {
    height: 4rem;
    width: 4.25rem;
}
#introWIEHead p {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 1.5rem;
    color: #404040;
    font-weight: 700;
}
#introWIECont {
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
#introWIECont p {
    margin-top: 0.75rem;
    text-align: justify;
    font-size: 1.25rem;
    font-family: "Fira Sans", sans-serif;
}
#MVAB {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
#MV {
    margin-top: 1.25rem;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#MV p {
    font-size: 1.25rem;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    margin-bottom: 1.25rem;
}
#MV div {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    text-align: justify;
}
#WIEBenefits {
    width: 50%;
    margin-top: 1.25rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}
#WIEBenefits p {
    font-size: 1.25rem;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
}
#WIEBenefits ul li {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    text-align: justify;
}
#wieImg {
    margin-top: 1rem;
    width: 50vw;
}
#wieStrives {
    margin-top: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}
#wieStrives p {
    font-size: 1.25rem;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
}
#wieStrives ul li {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    text-align: justify;
}