html, body, div, p, a, img, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

body {
    left: 0;
    top: 0;
}

.title {
    display: none;
}

.sideBarBtn {
    display: none;
}

.navbar {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    box-shadow: 0 2px 2px -2px grey;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.95;
    z-index: 2;
    background-color: whitesmoke;
    overflow: hidden;
}

.brSpace {
    height: 4.3rem;
}

.navbar section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar section a {
    height: 4rem;
    width: 4.25rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.navbar section a img {
    padding: 0.35rem;
    height: 100%;
    width: 100%;
}
.navbar section div {
    width: 35%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.navbar section div div {
    height: 100%;
    width: 16.66%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar section div div a{
    width: 100%;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #444040;
}

.navbar section div div a:hover {
    color: crimson;
}


footer {
    height: 10rem;
    border-top: 1px solid lightgrey;
    width: 100%;
    margin: 0 auto;
}

#footerDIV {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}


#navNISB {
    width: 15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.navImg {
    height: 1.75rem;
    width: 1.75rem;
}

#in {
    height: 2.75rem;
    width: 2.75rem;
    background-image: url("../images/in.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#git {
    background-image: url("../images/github.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#fb {
    background-image: url("../images/fb.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#contactNISB {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#contactNISB p {
    width: 50%;
    font-size: 1rem;
    font-family: "Hind Siliguri", sans-serif;
    line-height: 1.4rem;
    color: #060605;
}