html, body, div, p, a, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

.navbar div {
    display: none;
}

.brSpace {
    height: 2.5rem;
}

.title {
    display: inline;
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
}

.sideBarBtn {
    display: inline;
    margin-left: 1rem;
}

#coverDisplay {
    width: 100vw;
    background-image: url("../images/c1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    box-shadow: 0 2px 2px -2px grey;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: whitesmoke;
    overflow: hidden;
}

.navbar section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar section a {
    margin-top: 0.1rem;
    height: 2.5rem;
    width: 2.75rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.navbar section a img {
    margin-right: 1.25rem;
    padding: 0.1rem;
    height: 100%;
    width: 100%;
}
.navbar section div {
    display: none;
}

.navbar section div div {
    height: 100%;
    width: 16.66%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar section div div a{
    width: 100%;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #444040;
}

.navbar section div div a:hover {
    color: crimson;
}


footer {
    height: 10rem;
    border-top: 1px solid lightgrey;
    width: 90%;
    margin: 0 auto;
}

#footerDIV {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}


#navNISB {
    width: 7.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.25rem;
    margin-bottom: 3.25rem;
}

.navImg {
    height: 1.75rem;
    width: 1.75rem;
}

#in {
    height: 2.75rem;
    width: 2.75rem;
    background-image: url("../images/in.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#git {
    background-image: url("../images/github.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#fb {
    background-image: url("../images/fb.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#contactNISB {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

#contactNISB p {
    width: 100%;
    font-size: 1rem;
    font-family: "Hind Siliguri", sans-serif;
    line-height: 1.4rem;
    color: #060605;
    margin: 0 auto;
    margin-top: 1rem;
}

#clr {
    width: 100%;
    height: 5rem;
}