html, body, div, img, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.aboutDiv {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 2rem;
}

#aboutNISB  {
    margin-top: 2rem;
}

#aboutNISBImg {
    height: 5.25rem;
    width: 5.75rem;
}

 #aboutIEEEImg {
    height: 5.25rem;
    width: 9rem;
 }

 #aboutR10Img {
     width: 80vw;
 }

.aboutTitle {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-family: 'Fira Sans', sans-serif;
}

 #aboutBlrImg {
    height: 10rem;
    width: 16rem;
 }
#aboutNISBCont, #aboutBlrCont , #aboutIEEECont, #aboutR10Cont {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-family: 'Alegreya Sans', sans-serif;
    width: 100%;
    text-align: justify;
    text-justify: inter-ideograph;
}

#teamCont {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.5rem;
}

.teamCard {
    /* height: 15.5rem; */
    width: 45%;
    border: 1px solid darkgrey;
    border-radius: 4px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;
}
.teamPic {
    margin-top:-0.2rem;
    width: 100%;
    border-radius: 4px;
    
}

.memName {
    margin-top: 0.4rem;
    font-family: 'Bree Serif', cursive;
    font-size: 0.95rem;
}

.memPost {
    font-family: 'Cabin', cursive;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
}