#chapLogoDiv {
    height: 5rem;
    width: 85%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#chapLogoCSImg {
    height: 6.25rem;
    width: 10.25rem;
}
#chapLogoWIEImg {
    height: 5.2rem;
    width: 5.7rem;
    margin-left: -0.5rem;
}
#chapHead {
    color: #404040;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: -0.5rem;
}

#cs {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top:  1rem;
}
#introCSHead {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
#introCSHead img {
    height: 2.5rem;
    width: 4rem;
}
#introCSHead p {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 1.25rem;
    color: #404040;
    font-weight: 700;
}
#introCSCont {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#introCSCont p {
    margin-top: 0.75rem;
    text-align: justify;
    font-size: 1rem;
    font-family: "Fira Sans", sans-serif;
}
#CSBenefits {
    margin-top: 0.5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}
#CSBenefits p {
    font-size: 1rem;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
}
#CSBenefits ul li {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    width: 100%;
}
#wie {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
#introWIEHead {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
#introWIEHead img {
    height: 2.5rem;
    width: 2.5rem;
}
#introWIEHead p {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 1.25rem;
    color: #404040;
    font-weight: 700;
}
#introWIECont {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#introWIECont p {
    margin-top: 0.75rem;
    text-align: justify;
    font-size: 1rem;
    font-family: "Fira Sans", sans-serif;
}
#MVAB {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
#MV {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#MV p {
    font-size: 1.2rem;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}
#MV div {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    text-align: justify;
}
#WIEBenefits {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}
#WIEBenefits p {
    font-size: 1.2rem;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
}
#WIEBenefits ul li {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    text-align: justify;
}
#wieImg {
    margin-top: 1rem;
    width: 90vw;
}
#wieStrives {
    margin-top: 0.5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}
#wieStrives p {
    font-size: 1.2rem;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
}
#wieStrives ul li {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    text-align: justify;
}