#coverDisplay {
    height: auto;
    width: 100%;
    background-image: url("../images/c1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#aboutNISB {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
    background-color: whitesmoke;
}

#aboutNISBDiv {
    background-color: whitesmoke;
    text-align: justify;
    font-size: 1rem;
    font-family: "Hind Siliguri", sans-serif;
    line-height: 1.4rem;
}


.aboutTitle {
    width: 100%;
    color: #3e3f3a;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 0.5rem;
}


#whyNISB {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
    background-color: whitesmoke;
}

#whyNISBDiv {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#whyNISBTitle {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#whyNISBIntro {
    width: 100%;
    margin: 0 auto;
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.4rem;
    font-family: "Hind Siliguri", sans-serif;
    text-align: justify;
}



#listingNISB {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin:0 auto;
    margin-top: 2rem;
}

#listingNISBTitle {
    font-size: 1.2rem;
    font-family: "Hind Siliguri", sans-serif;
    width: 100%;
    line-height: 1.4rem;
    text-align: justify;
}

.listingIND {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    margin-top: 1rem;
}

.listingINDTitle {
    font-family: "Raleway", sans-serif;
    display: block;
    width: 100%;
    font-size: 1.75rem;
    text-align: left;
}

.listingINDDiv {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.listingIND img {
    width: 100%;
    max-width: 40rem;
    display: inline;
}

.listingINDCont {
    width: 100%;
    display: inline;
    margin-top: 1rem;
    text-align: justify;
    font-family: "Hind Siliguri", sans-serif;
    font-size: 1.1rem;
    line-height: 1.4rem;
}


#nisbPub {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    margin-bottom: 1rem;
}

#nisbPubTitle {
    color: #3e3f3a;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
}
#nisbPub div {
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#nisbPub div a {
    margin-bottom: 1rem;
    width: 100%;
    text-decoration: none;
}

#nisbPub div button {
    outline: 0;
    width: 100%;
    border: transparent;
    border-radius: 0.25rem;
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}
#nisbPub div button:hover {
    cursor: pointer;
}
.magTitle {
    margin-top: 0.5rem;
    width: 100%;
    font-size: 1.75rem;
    font-family: 'Hind Siliguri', serif;
}

.magCont {
    margin-bottom: 0.5rem;
}
#manas {
    background-color: #10a7d4
}
#jignasa {
    background-color: #dc9107;
}