.navBarMob {
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid lightgrey;
    height: 100vh;
    width: 45vw;
    max-width: 12rem;
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    /*z-index: 10000;*/
}

.navBarMob div {
    height: 6.67%;
    width: 100% ;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarMob div a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #444040;
    font-family: 'Fira Sans Condensed', sans-serif;
}